In [ ]:
import numpy as np
import pandas as pd

In [ ]:
x=np.array([[1,2,3,6],[1,5,9,7],[1,1,4,2],[1,8,5,3]])
y=np.array([[12],[9],[6],[7]])
theta=np.array([[1],[1],[1],[1]])

In [ ]:
def  cal_cost(theta,X,y):
    '''
    
    Calculates the cost for given X and Y. The following shows and example of a single dimensional X
    theta = Vector of thetas 
    X     = Row of X's np.zeros((2,j))
    y     = Actual y's np.zeros((2,1))
    
    where:
        j is the no of features
    '''
    
    m = len(y)
    
    predictions = X.dot(theta)
    cost = (1/2*m) * np.sum(np.square(predictions-y))
    return cost

In [ ]:
def  diff_cost(theta,X,y):
    '''
    
    Calculates the cost for given X and Y. The following shows and example of a single dimensional X
    theta = Vector of thetas 
    X     = Row of X's np.zeros((2,j))
    y     = Actual y's np.zeros((2,1))
    
    where:
        j is the no of features
    '''
    
    m = len(y)
    
    predictions = X.dot(theta)
    cost = (1/m) * np.sum((predictions-y))
    return cost

In [ ]:
def gradient_descent(X,y,theta,learning_rate=0.01,iterations=100):
    '''
    X    = Matrix of X with added bias units
    y    = Vector of Y
    theta=Vector of thetas np.random.randn(j,1)
    learning_rate 
    iterations = no of iterations
    
    Returns the final theta vector and array of cost history over no of iterations
    '''
    m = len(y)
    cost_history = np.zeros(iterations+1)
    theta_history = np.zeros((iterations+1,m))
    for it in range(iterations+1):
        
        prediction = np.dot(X,theta)
        print('prediction   ',it,np.round(prediction.flatten(),3))
        print('error        ',it,np.round((prediction-y).flatten(),3))
        theta = theta -(1/m)*learning_rate*( X.T.dot((prediction - y)))
        theta_history[it,:] =theta.T
        cost_history[it]  = cal_cost(theta,X,y)
        print('cost_history ',it,np.round(cost_history.flatten(),3))
        print('-'*60)
    result =  pd.DataFrame(theta_history)
    result.columns=[ 'theta '+str(i) for i in range(len(result.columns))]
    result.index = [ 'iteration '+str(i) for i in range(result.shape[0])]
    print('\nresult')
    return result

In [ ]:
gradient_descent(x,y,theta,0.05,2)

prediction    0 [12 22  8 17]
error         0 [ 0 13  2 10]
cost_history  0 [3406.557    0.       0.   ]
------------------------------------------------------------
prediction    1 [ -7.925 -18.125  -6.025 -13.638]
error         1 [-19.925 -27.125 -12.025 -20.638]
cost_history  1 [ 3406.557 24326.578     0.   ]
------------------------------------------------------------
prediction    2 [48.61  90.714 32.023 65.895]
error         2 [36.61  81.714 26.023 58.895]
cost_history  2 [  3406.557  24326.578 176365.517]
------------------------------------------------------------

result

              theta 0   theta 1    theta 2   theta 3
iteration 0  0.687500 -0.837500  -1.187500 -0.562500
iteration 1  1.683906  3.570000   4.502344  4.379844
iteration 2 -0.856619 -8.667172 -11.045441 -8.375016